@font-face {
    font-family: ZhaohuaMinA;
    src: url(/assets/font/ZhaohuaMinA.ttf) format("truetype");
}
@font-face {
    font-family: Bemder;
    src: url(/assets/font/Bender-Light.otf) format("opentype");
}
