@import "tailwindcss";
@font-face {
  font-family: 'ZhaohuaMinA';
  src: url('/src/font/ZhaohuaMinA.ttf') format("truetype");
}
@font-face {
  font-family: 'Bender';
  src: url('/src/font/Bender-Light.otf') format('opentype');
}

:root {
  --color-white: #F4F4F4;
  --color-background: #1B1A17;
  --color-gray: #827E7E;
  --color-dark-gray: #554E4E;
  --color-orange: #F0781C;
  --color-red: #9C1F1F;
}

/* Apply Bender font to all elements except the title */
body, .site-subtitle, .menu-btn, .glossary, .site-footer {
  font-family: 'Bender', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--color-white);
}